<div class="cal-wrapper">
	<div class="cal-content">
	<div>
	<h1>Calculator</h1>
	<div class="result" data-role="bind" data-name="calResult"></div>
	<table id="cal" cellspacing="5px" cellpadding="0">
		<tbody>
			<tr>
				<td class="math">AC</td>
				<td class="math" data-key="{{clear}}">C</td>
				<td class="math">%</td>
				<td class="math" data-key="{{divide}}">{{divide}}</td>
			</tr>
			<tr>
				<td data-key="{{num7}}">{{num7}}</td>
				<td data-key="{{num8}}">{{num8}}</td>
				<td data-key="{{num9}}">{{num9}}</td>
				<td class="math" data-key="{{multi}}">{{multi}}</td>
			</tr>
			<tr>
				<td data-key="{{num4}}">{{num4}}</td>
				<td data-key="{{num5}}">{{num5}}</td>
				<td data-key="{{num6}}">{{num6}}</td>
				<td class="math" data-key="{{minus}}">{{minus}}</td>
			</tr>
			<tr>
				<td data-key="{{num1}}">{{num1}}</td>
				<td data-key="{{num2}}">{{num2}}</td>
				<td data-key="{{num3}}">{{num3}}</td>
				<td class="math" data-key="{{plus}}">{{plus}}</td>
			</tr>
			<tr>
				<td colspan="2" data-key="{{num0}}">{{num0}}</td>
				<td class="math">.</td>
				<td class="math" data-key="{{equal}}">{{equal}}</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>